alabaster==0.7.12
apsw==3.16.2.post1
argh==0.26.2
asn1crypto==0.24.0
astroid==1.6.6
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
Babel==2.7.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bleach==3.1.0
certifi==2019.6.16
chardet==3.0.4
CherryPy==8.9.1
cloudpickle==1.2.1
CommonsDownloader==0.5.3
configparser==3.8.1
contextlib2==0.5.5
cryptography==2.1.4
cssselect==1.0.3
cssutils==1.0.2
decorator==4.4.0
defusedxml==0.6.0
diff-match-patch==20181111
dnspython==1.15.0
docutils==0.15.2
duplicity==0.7.17
entrypoints==0.3
enum34==1.1.6
fasteners==0.12.0
feedparser==5.2.1
functools32==3.2.3.post2
future==0.17.1
futures==3.3.0
gyp==0.1
helpdev==0.6.10
html5-parser==0.4.4
html5lib==0.999999999
idna==2.8
imagesize==1.1.0
importlib-metadata==0.19
ipaddress==1.0.22
ipykernel==4.10.1
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.21
jedi==0.14.1
Jinja2==2.10.1
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==5.2.0
jupyter-core==4.5.0
jupyterlab==0.33.12
jupyterlab-launcher==0.11.2
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.4.1
livereload==2.6.0
lockfile==0.12.2
logilab-common==1.4.1
lxml==4.2.1
Markdown==3.0.1
MarkupSafe==1.1.1
mccabe==0.6.1
mechanize==0.2.5
mercurial==4.5.3
mistune==0.8.4
monotonic==1.0
msgpack==0.5.6
mwclient==0.9.3
nbconvert==5.6.0
nbformat==4.4.0
netifaces==0.10.4
notebook==5.7.8
numpy==1.16.0
numpydoc==0.9.1
oauthlib==3.0.1
olefile==0.45.1
packaging==19.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.5.1
pathlib2==2.3.4
pathtools==0.1.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
pluggy==0.12.0
prometheus-client==0.6.0
prompt-toolkit==1.0.16
psutil==5.6.3
ptyprocess==0.6.0
pycairo==1.16.2
pycodestyle==2.5.0
pycrypto==2.6.1
pydocstyle==3.0.0
pydot==1.4.1
pyflakes==2.1.1
Pygments==2.4.2
pygobject==3.26.1
pylint==1.9.5
pyOpenSSL==17.5.0
pyparsing==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
python-jsonrpc-server==0.2.0
python-language-server==0.28.1
pytz==2019.2
pyxdg==0.26
PyYAML==5.1.2
pyzmq==18.1.0
QDarkStyle==2.7
QtAwesome==0.6.0
qtconsole==4.5.3
QtPy==1.9.0
regex==2017.12.12
repoze.lru==0.7
requests==2.22.0
requests-oauthlib==1.2.0
rope==0.14.0
Routes==2.4.1
scandir==1.10.0
scour==0.36
SecretStorage==2.3.1
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.9.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
spyder-kernels==1.4.0
subprocess32==3.5.4
terminado==0.8.2
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
typing==3.7.4
urllib3==1.25.3
uTidylib==0.3
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.7.3
widgetsnbextension==3.4.2
wrapt==1.11.2
wurlitzer==1.0.3
wxPython==3.0.2.0
wxPython-common==3.0.2.0
yapf==0.28.0
zipp==0.5.2
